// ┌─────────┐
// │ Palette │
// └─────────┘
$red:                   RGB(240, 119, 118);
$pink:                  #EE9C9D;

$soft-blue:                  RGB(100, 145, 145);
$pale-blue:             #A9C3CB;
$trans-blue:            RGBA(100, 145, 145, 0.5);

// ┌──────┐
// │ Riso │
// └──────┘

$purple: #5E577F;
$violet: #9B7CCD;
$cornflower-blue: #61A9E3;
$blue: #0077BD;
$teal: #00818B;
$green: #00A760;
$hunter-green: #416F60;
$mint: #81D6D4;
$yellow: #FFE728;
$sunflower: #FEB42F;
$red: #FD6861;
$flouro-pink: #FB4FAD;
$flouro-orange: #FD747A;
$orange: #FE6E3A;
$rasberry-red: #B0545C;
$brown: #916054;
$gold: #AC926F;

$type-color: $transparent-black;
