---
title: Projects
template: _templates/list.html
block: text
changefreq: weekly
---

{% for project in projects %}
  <p class="font-size-2 leader-2 trailer-half">
    {% if project.external %}
      <a href="{{project.site}}">{{project.title}} ⇗</a>
    {% else %}
      <a href="{{project.url}}">{{project.title}}</a>
    {% endif %}
  </p>
  {% if project.description %}
    <section class="trailer-2">
      <p>
        {% autoescape false %}
          {{project.description}}
        {% endautoescape %}
      </p>
    </section>
  {% endif %}
{% endfor %}
