.cv p {
  margin-top: 0;
  margin-bottom: var(--lead);
}

.cv-intro {
  margin-top: calc(var(--lead) * 3);
  margin-bottom: calc(var(--lead) * 4);
  margin-left: 0;
  margin-right: 0;
  font-size: var(--txt-size-3);
  color: var(--pink);
  font-style: italic;
}

.cv blockquote {
  margin-left: 0;
}
.cv blockquote p {
  font-size: var(--txt-size-3);
  font-style: italic;
}

.cv h2 {
  font-size: var(--txt-size-2);
  margin-bottom: calc(var(--lead) * 2);
}
.cv h3 {
  font-size: var(--txt-size-4);
  margin-top: calc(var(--lead) * -1);
  margin-bottom: 0;
}
.cv h4 {
  font-size: var(--txt-size-2);
  margin-top: 0;
  margin-bottom: var(--lead);
}
.cv date {
  display: block;
  font-size: var(--txt-size-0);
  font-family: var(--code-family);
  margin-top: calc(var(--lead) * 2);;
}
