.site-footer {
  background-color: var(--gray);
  margin-top: calc(var(--lead) * 3);
  padding-top: calc(var(--lead) * 3);
  padding-bottom: calc(var(--lead) * 1);
  font-size: var(--txt-size-2);
}


.footer-content {
  display: flex;
}

.footer-section {
  flex: 1;
}

.site-footer a {
  color: var(--black);
}

.site-footer a:hover {
  color: var(--pink);
}