.nav {
  margin-top: var(--lead);
}

.nav-link {
  padding: 0.33em;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--header-family);
  border: 0.25rem solid var(--pink);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--blue);
  border-color: var(--blue);
}