.texts {
  display: flex;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  flex-basis: 50%;
  padding-right: var(--lead);
  box-sizing: border-box;
}

.text-date {
  font-family: var(--code-family);
  font-size: var(--txt-size-0);
  margin-bottom: 0;
  margin-top: calc(var(--lead) * 2);
}

.text-title {
  font-size: var(--txt-size-1);
  margin-top: calc(var(--lead) / 4);
}

.section-link span.text-description {
  display: none;
}

.text:first-child {
  flex-basis: 100%;
}

.text:first-child .text-title {
  font-size: var(--txt-size-3);
}

.text:first-child .text-description {
  display: inline;
}