@font-face {
  font-family:"Cardamon";
  src: url("/assets/fonts/4342086f-c89b-45ba-85ed-34e11a4d87a6.woff2") format("woff2"), url("/assets/fonts/e0b984a3-3616-45a2-a5e3-c99ba058c67a.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cardamon";
  src: url("/assets/fonts/4c900f97-8a6f-475d-970c-f666966acd06.woff2") format("woff2"),url("/assets/fonts/a486d579-df72-4b72-acad-7d92e32d8033.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cardamon";
  src:url("/assets/fonts/e0d095f6-0ed8-44ce-95f9-ccaea796f999.woff2") format("woff2"),url("/assets/fonts/27b98cbb-80d3-440c-8b18-da47eb7f538a.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family:"Cardamon Small Caps";
  src:url("/assets/fonts/dcaaf14a-5b49-4cc8-bcfa-49836ba81ea4.woff2") format("woff2"),url("/assets/fonts/7fc61bc4-c834-48cb-901c-26753ebde30c.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"Effra";
  src:url("/assets/fonts/6a34d279-871d-48bb-9c56-c74409b89853.eot?#iefix") format("eot"),url("/assets/fonts/ef0b1734-7845-4847-9177-5d3eac8b1917.woff2") format("woff2"),url("/assets/fonts/f81cab36-9cc4-49ac-a2f0-2e7e8f838ca7.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
