@mixin font-sans () {
  font-family: $sans-family;
}
@mixin font-serif () {
  font-family: $serif-family;
}
@mixin font-small-caps () {
  font-family: $sc-family;
}
@mixin font-monospace () {
  font-family: $mono-family;
}

@mixin tracking($n) {
  letter-spacing: $n * 0.001em;
}

@mixin leading($n) {
  line-height: $n * $baseline;
}

@mixin word-spacing($n) {
  word-spacing: $n * 0.001em;
}

@mixin text-inline() {
  display: inline;
}

@mixin text-center() {
  text-align: center;
}

@mixin text-left() {
  text-align: left;
  html[dir="rtl"] & {
    text-align: right;
  }
}

@mixin text-right() {
  text-align: right;
  html[dir="rtl"] & {
    text-align: left;
  }
}

@mixin text-large() {
  @include font-size(1);
}

@mixin text-small() {
  @include font-size(-1);
}

@mixin text-light() {
  opacity: 0.66;
}

@mixin text-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-color($value) {
  color: $value;
}

@mixin link-color($value, $light-value) {
  color: $value;
  &:hover {
    color: $light-value;
  }
}

@mixin leader-half()  { margin-top:    0.5 * $baseline; }
@mixin trailer-half() { margin-bottom: 0.5 * $baseline; }
@mixin padding-leader-half()  { padding-top:    0.5 * $baseline; }
@mixin padding-trailer-half() { padding-bottom: 0.5 * $baseline; }

@mixin leader($n)          { margin-top:     $n * $baseline; }
@mixin trailer($n)         { margin-bottom:  $n * $baseline; }
@mixin padding-leader($n)  { padding-top:    $n * $baseline; }
@mixin padding-trailer($n) { padding-bottom: $n * $baseline; }

.leader-half  { @include leader-half(); }
.trailer-half { @include trailer-half(); }
.padding-leader-half  { @include padding-leader-half(); }
.padding-trailer-half { @include padding-trailer-half(); }

@for $i from 0 through 6 {
  .leader-#{$i}          { @include leader($i)          ;}
  .trailer-#{$i}         { @include trailer($i)         ;}
  .padding-leader-#{$i}  { @include padding-leader($i)  ;}
  .padding-trailer-#{$i} { @include padding-trailer($i) ;}
}

.text-inline       {@include text-inline();}
.text-center       {@include text-center();}
.text-left         {@include text-left();}
.text-right        {@include text-right();}
.text-light        {@include text-light();}
.text-ellipsis     {@include text-ellipsis();}

.font-size--3 { @include font-size(-3); }
.font-size--2 { @include font-size(-2); }
.font-size--1 { @include font-size(-1); }
.font-size-0  { @include font-size(0); }
.font-size-1  { @include font-size(1); }
.font-size-2  { @include font-size(2); }
.font-size-3  { @include font-size(3); }
.font-size-4  { @include font-size(4); }
.font-size-5  { @include font-size(5); }
.font-size-6  { @include font-size(6); }
.font-size-7  { @include font-size(7); }
.font-size-8  { @include font-size(8); }

.font-sans       { @include font-sans(); }
.font-serif      { @include font-serif(); }
.font-small-caps { @include font-small-caps(); }
.font-monospace  { @include font-monospace(); }