html {
  font-size: 18px;
}

body {
  background-color: $off-white;
  color: $black;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

footer,
main {
  display: block;
  mix-blend-mode: multiply;
  a,
  a:hover,
  a:visited,
  a:focus,
  a:active {
    text-decoration: none;
    color: $off-black;
    @include link-hover-effect();
  }
}

blockquote {
  color: $red;
  mix-blend-mode: multiply;
}