html {
  font-size: 18px;
}

@media screen and (min-width: $large) {
  html {
    font-size: 21px;

  }
}

@media screen and (max-width: $small - 1) {
  font-size: 16px;
}

body {
  background-color: $off-white;
  color: $black;
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $dark-gray;
  outline: none;
}

footer,
main {
  display: block;
  mix-blend-mode: multiply;
  a,
  a:hover,
  a:visited,
  a:focus,
  a:active {
    text-decoration: none;
    color: $off-black;
    @include link-hover-effect();
  }
}

blockquote {
  color: $red;
  mix-blend-mode: multiply;
}