// ┌─────────────┐
// │ Type Config │
// └─────────────┘

$octave:             2;
$major7th:           1.875;
$minor7th:           1.778;
$major6th:           1.667;
$minor6th:           1.6;
$fifth:              1.5;
$dim5th:             1.414;
$aug4th:             1.414;
$fourth:             1.33;
$major3rd:           1.25;
$minor3rd:           1.2;
$major2nd:           1.125;
$minor2nd:           1.067;
$unison:             1;

// Scale
$golden-ratio:       1.618;

// ┌────────────┐
// │ Structural │
// └────────────┘
$ratio:              $aug4th;
$medium-ratio:       $fourth;
$small-ratio:        $major3rd;
$body-size:          1rem;
$small-size:         0.85rem;
$baseline:           1.65rem;
$indent:             1em;


// ┌───────────────┐
// │ Base Tracking │
// └───────────────┘
$sans-tracking:    0;
$serif-tracking:   30;
$mono-tracking:    0;

// ┌───────────────┐
// │ Font Families │
// └───────────────┘
$sans-family:        'Effra',
                     'Helvetica',
                     'Arial',
                     sans-serif;

$serif-family:       'Cardamon',
                     'Georgia',
                     serif;
$sc-family:          'Cardamon Small Caps',
                     'Georgia',
                     serif;
$mono-family:        'Consolas',
                     'Andale Mono',
                     'Lucida Console',
                     'Monaco',
                     'Courier New',
                     Courier,
                     monospace;