{% extends 'layout.html' %}

{% block content %}
  <main role="main" class="container">
    <section class="intro">
      <!-- <h1>Nikolas Wise</h1> -->
      {% block text %}{% endblock %}
    </section>

   <section class="section lead-1">
      <h2 class="txt-size-2 lead-bottom-0">Selected Projects</h2>
      {% for project in collections.projects %}
        <a class="section-link link-underline" href="{{project.url}}">
          <h3 class="txt-mono txt-size--1 lead-bottom-0 lead-2">{{project.title}}</h3>
          <div class="txt-size-1 lead-quarter">
            {% markdown %}{{project.description}}{% endmarkdown %}
          </div>
        </a>
      {% endfor %}
    </section>

  <section class="section lead-4">
    <h2 class="txt-size-2 lead-bottom-0">Selected Essays</h2>
      <div class="texts">
        {% for text in collections.texts %}
          <a class="section-link text" href="{{text.url}}">
            <h3 class="text-date">{{text.date}}</h3>
            <div class="text-title">
              <span>{{text.title}}</span><span class="text-description"> — {{text.description}}</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock %}

