{% extends 'layout.html' %}

{% block content %}
  <main role="main" class="container">
    <section class="intro">
      {% block text %}{% endblock %}
    </section>

    <section>
      <mark>texts:</mark>
      {% for text in texts %}
        <h2>{{text.title}} : {{text.url}}</h2>
      {% endfor %}
    </section>

    <section>
      <mark>projects:</mark>
      {% for project in projects %}
        <h2>{{project.title}} : {{project.url}}</h2>
      {% endfor %}
    </section>
  </main>
{% endblock %}