<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="{{ description }}">
    <title>Nikolas Wise / {{title}}</title>

    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    {% if thumbnail %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="http://nikolas.ws/assets/img/{{thumbnail}}">
      <meta property="og:image" content="http://nikolas.ws/assets/img/{{thumbnail}}">
    {% else %}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="http://nikolas.ws/assets/img/thumbnail.jpg">
      <meta property="og:image" content="http://nikolas.ws/assets/img/thumbnail.jpg">
    {% endif %}

    <meta name="twitter:site" content="@nikolaswise">
    <meta name="twitter:creator" content="@nikolaswise">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="http://nikolas.ws{{url}}">

    <meta name="google-site-verification" content="OqXvB5VOZBt0uCyD0G8We9zdt_fq4ukaaamVsqcXA2w" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="micropub" href="https://studio.nikolas.ws/micropub">

    <link rel="home" href="/feed.xml" type="application/rss+xml" title="Nikolas Wise is a designer and developer who specializes in design critique, systems thinking, and the interaction between classical techniques and contemporary technology.">

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="loading">
      <h1>Nikolas Wise</h1>
    </div>

    <div class="wrapper">
      <nav class="nav" role="navigation">
        <div class="container">
          <a href="/" class="nav-link">nikolas.ws</a>
        </div>
      </nav>
      <div id="barba-wrapper">
        <div class="barba-container">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer class="site-footer">
      <div class="container footer-content">
        <div class="footer-section">
          <h2 class="txt-size-0 txt-mono lead-0">More</h2>

          <p class="lead-bottom-0 txt-size-0 txt-mono lead-3">
            <a href="//studio.nikolas.ws" target="_blank">Printmaking</a>
          </p>
          <p class="lead-bottom-0 txt-size-0 txt-mono">
            <a href="mailto:studio@nikolas.ws">Say Hello</a>
          </p>
          <p class="lead-bottom-0 txt-size-0 txt-mono">
            <a href="/work-with-nikolas">Work With Me</a>
          </p>
        </div>

        <div class="footer-section lead-4">
          <p class="lead-bottom-0 txt-size-0 txt-mono">
            <a href="https://github.com/nikolaswise/" target="_blank">Github</a>
          </p>
          <p class="lead-bottom-0 txt-size-0 txt-mono">
            <a href="https://twitter.com/nikolaswise" target="_blank">Twitter</a>
          </p>
          <p class="lead-bottom-0 txt-size-0 txt-mono">
            <a href="https://www.instagram.com/nikolaswise/" target="_blank">Insta</a>
          </p>
        </div>
      </div>
    </footer>


    <link rel="stylesheet" href="/components.css">
    <script src="/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-64426327-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>