{% extends 'layout.html' %}

{% block content %}
  <main role="main" class="text-block">
    <section class="font-size-3">
      {% block text %}{% endblock %}
    </section>
    <section>
      <header>
        <h3 class="trailer-0">Projects</h3>
      </header>

      <div class="block-grid">
        {% for project in projects %}
          {% if loop.index < 10 %}
            <div class="block">
              <!-- <img class="thumbnail" src="{{project.url}}/thumbnail.png" alt="{{project.title}}"> -->
              <p class="font-size--1 trailer-0">
                {{project.date}}
              </p>
              <p class="font-size-2 leader-0 trailer-half">
                {% if project.external %}
                  <a href="{{project.site}}">{{project.title}} ⇗</a>
                {% else %}
                  <a href="{{project.url}}">{{project.title}}</a>
                {% endif %}
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="text-center leader-1">
        <a href="/projects" class="nav-link">all projects</a>
      </div>
    </section>

    <section>
      <header>
        <h3 class="trailer-0">Texts</h3>
      </header>

      <div class="block-grid">
        {% for text in texts %}
          {% if loop.index < 4 %}
            <div class="block">
              <p class="font-size--1 trailer-0">
                {{text.date}}
              </p>
              <p class="font-size-2 leader-0 trailer-half">
                <a href="{{text.url}}">{{text.title}}</a>
              </p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="text-center leader-1">
        <a href="/texts" class="nav-link">all texts</a>
      </div>
    </section>

<!--     <section> -->
<!--       <header class="flex"> -->
<!--         <h3 class="flex-1">Objects</h3> -->
<!--         <a href="/texts" class="flex leader-2">View All</a> -->
<!--       </header> -->
<!--       <div class="block-grid"> -->
<!--         <div class="block"> -->
<!--           <p class="font-size-2 leader-half trailer-half"> -->
<!--             <a href="/objects/todo">To Do Today</a> -->
<!--           </p> -->
<!--         </div> -->
<!--         <div class="block"> -->
<!--           <p class="font-size-2 leader-half trailer-half"> -->
<!--             <a href="objects/calendar">5 Year Calendar</a> -->
<!--           </p> -->
<!--         </div> -->
<!--         <div class="block"> -->
<!--           <p class="font-size-2 leader-half trailer-half"> -->
<!--             <a href="objects/ledger">Double Entry Ledger</a> -->
<!--           </p> -->
<!--         </div> -->
<!--       </div> -->
<!--     </section> -->

<!--     <section> -->
<!--       <header class="flex"> -->
<!--         <h3 class="flex-1">Mixtapes</h3> -->
<!--         <a href="/projects" class="flex leader-2">View All</a> -->
<!--       </header> -->
<!--       latest mixtape lives here -->
<!--     </section> -->
  </main>
{% endblock %}