<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="{{ description }}">
    <title>{{title}} | Nikolas Wise</title>

    <link rel="shortcut icon" href="/_assets/img/favicon.ico">
    {% if thumbnail %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="http://nikolas.ws/_assets/img/{{thumbnail}}">
      <meta property="og:image" content="http://nikolas.ws/_assets/img/{{thumbnail}}">
    {% else %}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="http://nikolas.ws/_assets/img/thumbnail.jpg">
      <meta property="og:image" content="http://nikolas.ws/_assets/img/thumbnail.jpg">
    {% endif %}
    <meta name="twitter:site" content="@nikolaswise">
    <meta name="twitter:creator" content="@nikolaswise">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="http://nikolas.ws{{url}}">

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <link rel="home" href="/feed.xml" type="application/rss+xml" title="Nikolas Wise is a designer and developer who specializes in design critique, systems thinking, and the interaction between classical techniques and contemporary technology.">

    <link rel="stylesheet" href="/_assets/css/style.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="grid-container">
        <nav class="nav nav-head text-center column-36" role="navigation">
          <a href="/" class="nav-link">nikolas.ws</a>
        </nav>
      </div>

      <div class="grid-container small-hide">
        <nav class="text-center nav nav-left" role="navigation">
          <a href="/texts" class="nav-link">texts</a>
        </nav>
        <nav class="text-center nav nav-right" role="navigation">
          <a href="/projects" class="nav-link">projects</a>
        </nav>
      </div>
      <div class="grid-container large-leader-6 leader-5 small-leader-3">
        <main class="small-column-6 medium-column-10 medium-pre-1 column-14 pre-5 large-column-18 large-pre-9" role="main">
          <section class="{{section}}">
            {% block content %}{% endblock %}
          </section>
        </main>
      </div>
    </div>

    <footer class="grid-container" role="contentInfo">
      <nav class="footer column-36 text-center padding-trailer-1" role="navigation" aria-labelby="contactinfo">
        <a class="footer-link" rel="me" href="mailto:hello@nikolas.ws">mail ⇗</a>
        <a class="footer-link" rel="me" href="https://twitter.com/NikolasWise">twitter ⇗</a>
        <a class="footer-link" rel="me" href="https://github.com/nikolaswise">github ⇗</a>
        <a class="footer-link" rel="me" href="/feed.xml">rss</a>
        <a class="footer-link" rel="me" href="/cv">cv</a>

      </nav>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41031992-1', 'paulcpederson.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>