.nav {
  position: fixed;
  display: inline-block;
}

  .nav-link {
    @include tracking(100);
    @include header-bold();
    @include font-size(-3);
    text-transform: uppercase;
    mix-blend-mode: multiply;
  }

  .nav-head {
    position: fixed;
    display: inline-block;
    top: $baseline;
    text-transform: uppercase;
  }

  .nav-left {
    @include transform(rotate(-90deg));
    top: 45vh;
  }

  .nav-right {
    @include transform(rotate(90deg));
    top: 45vh;
    right: 0;
  }
