.nav {
  position: fixed;
  display: inline-block;
  z-index: 10;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
}

  .nav-link {
    @include tracking(100);
    @include header-bold();
    @include font-size(-3);
    @include no-hover-effect();
    padding: 0.33em;
    color: $red;
    border: 0.25rem solid $red;
    text-transform: uppercase;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    @include transition(150ms linear);
    &:hover {
      color: $blue;
      border-color: $blue;
      background-color: $off-white;
      mix-blend-mode: multiply;
      background-blend-mode: multiply;
      @include transition(150ms linear);
    }
  }

  .nav-head {
    position: fixed;
    display: inline-block;
    top: $baseline;
    text-transform: uppercase;
  }

  .nav-left {
    @include transform(rotate(-90deg));
    top: 45%;
  }

  .nav-right {
    @include transform(rotate(90deg));
    top: 45%;
    right: 0;
  }
