// ┌─────────┐
// │ Palette │
// └─────────┘
$red:                   RGB(240, 119, 118);
$pink:                  #EE9C9D;

$blue:                  RGB(100, 145, 145);
$pale-blue:             #A9C3CB;
$trans-blue:            RGBA(100, 145, 145, 0.5);