.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1;
}

.block-grid {
  display: flex;
  flex-wrap: wrap;
}

.block {
  box-sizing: border-box;
  padding: 0 $baseline/2;
  min-width: 33%;
  max-width: 33%;
  flex: 1 1;
  &:nth-child(n) {
    padding-left: 0;
  }
  &:nth-child(3n) {
    padding-right: 0;
  }
}
img.thumbnail {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  margin: 0;
}