body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $off-white;
}
.wrapper {
  flex: 1 0 auto;
}
.footer {
  flex: none;
  padding-bottom: 1*$baseline;
}
.footer, main {
  display: block;
  mix-blend-mode: multiply;
}
// Show
@mixin show() {
  visibility: visible;
}

// Hide
@mixin hide() {
  display: none !important;
  visibility: hidden;
}

// Show Hide Helper Classes
.show { @include show(); }
.hide { @include hide(); }

// Extra Large
@media screen and (min-width: $large) {
  .small-hide        {@include show();}
  .medium-hide       {@include show();}
  .small-show        {@include hide();}
  .medium-show       {@include hide();}
  .medium-only       {@include hide();}
  .large-show  {@include show();}
  .large-hide  {@include hide();}
  .large-only  {@include show();}
}

// Large
@media screen and (max-width: $large - 1) and (min-width: $medium) {
  .small-hide   {@include show();}
  .medium-hide  {@include show();}
  .small-show   {@include hide();}
  .medium-show  {@include hide();}
  .medium-only  {@include hide();}
  .large-only  {@include hide();}
}

// Medium
@media screen and (max-width: $medium - 1) and (min-width: $small) {
  .small-hide   {@include show();}
  .medium-hide  {@include hide();}
  .small-show   {@include hide();}
  .medium-show  {@include show();}
  .medium-only  {@include show();}
  .large-only  {@include hide();}
}

// Small
@media screen and (max-width: $small - 1) {
  .small-hide   {@include hide();}
  .medium-hide  {@include hide();}
  .small-show   {@include show();}
  .medium-show  {@include show();}
  .medium-only  {@include hide();}
  .large-only  {@include hide();}
}