.nav {
  position: fixed;
  display: inline-block;
  z-index: 10;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  @media screen and (max-width: $medium - 1) {
    position: absolute;
    top: 0;
  }
}

  .nav-link {
    @include tracking(100);
    @include font-size(-3);
    padding: 0.33em;
    color: $flouro-orange;
    font-family: $sans-family;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    border: 0.25rem solid $flouro-orange;
    text-transform: uppercase;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    &:hover {
      text-decoration: none;
      color: $blue;
      border-color: $blue;
      background-color: $off-white;
      mix-blend-mode: multiply;
      background-blend-mode: multiply;
    }
  }

  .nav-head {
    width: 100%;
    display: inline-block;
    top: $baseline;
    text-transform: uppercase;
  }

  .nav-left {
    transform: rotate(-90deg);
    top: 45%;
  }

  .nav-right {
    transform: rotate(90deg);
    top: 45%;
    right: 0;
  }
