---
title: Projects
changefreq: weekly
---

{% for project in projects %}
  {% if !project.draft %}
    {% if project.site %}
      <h2 class="font-size-3 body-face leader-2">
        <a href="{{project.site}}">{{project.title}} ⇗</a>
      </h2>
    {% else %}
      <h2 class="font-size-3 body-face leader-2">
        <a href="{{project.url}}">{{project.title}}</a>
      </h2>
    {% endif %}

    <section class="trailer-1">
      {% autoescape false %}
        {{ project.description}}
      {% endautoescape %}
      <hr class="padding-leader-1">
    </section>
  {% endif %}
{% endfor %}