---
title: Projects
template: _templates/list.html
block: text
changefreq: weekly
---

{% for project in projects %}
  <p class="font-size-2 leader-2 trailer-half">
    {% if project.site %}
      <a href="{{project.site}}">{{project.title}} ⇗</a>
    {% else %}
      <a href="{{project.url}}">{{project.title}}</a>
    {% endif %}
  </p>
  {% if project.description %}
    <section class="trailer-2">
      {% autoescape false %}
        {{project.description}}
      {% endautoescape %}
    </section>
  {% endif %}
{% endfor %}
